@font-face {
    font-family: always;
    src: url('Always In My Heart.ttf')
}

body {
    background: url('heart.png') no-repeat;
    background-size: contain;
    font-family: always;
    margin-right: 100px;
}

.caption {
    float: right;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 108px;
    text-shadow: 4px 4px 11px rgba(0, 0, 0, 0.2);
}

.red {
    color: #F28787;
    font-size: 72px;
}