@font-face {
    font-family: always;
    src: url('Always In My Heart.ttf')
}

body {
    background: url('bg.jpg');
    background-size: contain;
    font-family: always;
}

.container {
    background-color: white;
    height: auto;
    box-shadow: 0px 10px 50px #888888;
}

.caption {
    text-align: center;
    font-size: 108px;
    text-shadow: 4px 4px 11px rgba(0, 0, 0, 0.2);
}

.red {
    color: #F28787;
    font-size: 72px;
}

.poem {
    padding: 30px;
    text-align: center;
    font-size: 24px;
}

.poem .red {
    color: #F28787;
    font-size: 48px;
}

.helper{
    color: gray;
    font-family: cursive;
    font-size: 10px;
}